nodered code.txt
[{"id":"12d5decb.59a961","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"817e116e.06338","type":"inject","z":"12d5decb.59a961","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":262,"y":48,"wires":[["ad4c372d.cf1b28"]]},{"id":"ba8c0821.6f8d68","type":"debug","z":"12d5decb.59a961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":711,"y":65,"wires":[]},{"id":"ad4c372d.cf1b28","type":"http request","z":"12d5decb.59a961","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com\\v3\\identity\\token","tls":"","proxy":"","authType":"basic","x":438,"y":94,"wires":[["ba8c0821.6f8d68","639bfce9.53f454"]]},{"id":"639bfce9.53f454","type":"function","z":"12d5decb.59a961","name":"PredictionInput","func":"var token=msg.payload.token;\nvar temp=global.get(\"temp\");\nvar dp=global.get(\"dp\");\nvar humidity=global.get(\"humidity\");\nvar slp=global.get(\"slp\");\nvar visible=global.get(\"visible\");\nvar wind=global.get(\"wind\");\nmsg.payload={\"fields\":[\"tempavg\",\"DPavg\",\"humidityavg\",\"SLPavg\",\"visiblilitylow\",\"windavg\"],\"values\":[[temp,dp,humidity,slp,visible,wind]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token};\nreturn msg;","outputs":1,"noerr":0,"x":321,"y":348,"wires":[["48a7050d.98ac6c","ba8c0821.6f8d68"]]},{"id":"48a7050d.98ac6c","type":"http request","z":"12d5decb.59a961","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/77921864-797c-4f0b-b15e-49eef77e8585/deployments/5b96d3b5-2eab-486b-ab9f-a29769a8960e/online","tls":"","proxy":"","authType":"basic","x":537,"y":363,"wires":[["a2c86276.1fb56"]]},{"id":"5c47695b.192838","type":"ui_form","z":"12d5decb.59a961","name":"","label":"","group":"4f293b78.0ca094","order":2,"width":0,"height":0,"options":[{"label":"Average_Temperature","value":"temp","type":"number","required":true},{"label":"Average_DP","value":"dp","type":"number","required":true},{"label":"Average_Humidity","value":"humidity","type":"number","required":true},{"label":"Average_SLP","value":"slp","type":"number","required":true},{"label":"Visible","value":"visible","type":"number","required":true},{"label":"Average_WindSpeed","value":"wind","type":"number","required":true}],"formValue":{"temp":"","dp":"","humidity":"","slp":"","visible":"","wind":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":55,"y":175,"wires":[["28a43465.f3718c"]]},{"id":"28a43465.f3718c","type":"function","z":"12d5decb.59a961","name":"r_a_m input","func":"global.set(\"temp\",msg.payload.temp);\nglobal.set(\"dp\",msg.payload.dp);\nglobal.set(\"humidity\",msg.payload.humidity);\nglobal.set(\"slp\",msg.payload.slp);\nglobal.set(\"visible\",msg.payload.visible);\nglobal.set(\"wind\",msg.payload.wind);\nreturn msg;","outputs":1,"noerr":0,"x":235,"y":186,"wires":[["ad4c372d.cf1b28"]]},{"id":"28fcd68d.4221da","type":"ui_text","z":"12d5decb.59a961","group":"4f293b78.0ca094","order":2,"width":0,"height":0,"name":"","label":"Rainfall","format":"{{msg.payload}}","layout":"row-spread","x":745,"y":316,"wires":[]},{"id":"a2c86276.1fb56","type":"function","z":"12d5decb.59a961","name":"JsonParsing","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":685,"y":212,"wires":[["28fcd68d.4221da"]]},{"id":"4f293b78.0ca094","type":"ui_group","z":"","name":"Rainfall Prediction","tab":"2b881c1d.5d6074","disp":true,"width":"6","collapse":false},{"id":"2b881c1d.5d6074","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]